protocols/BH-SEP.md text eol=lf
protocols/BH-SDP.md text eol=lf
protocols/v2.3/BH-SEP.md text eol=lf
protocols/v2.3/BH-SDP.md text eol=lf
protocols/v2.3/BH-SEP_EN.md text eol=lf
protocols/v2.3/BH-SDP_EN.md text eol=lf
protocols/v2.3/BH-PROTOCOLS.md text eol=lf
protocols/v2.3/BH-PROTOCOLS_EN.md text eol=lf
